<div class="header-layout">
    <%= form_with url: session_path do |form| %>
    <h1 class="font-bold text-2xl">Entre com seu telefone ou e-mail e senha</h1>
      <%= form.text_field :phone, required: true, autofocus: true, autocomplete: "username", placeholder: "Digite seu telefone ou e-mail", value: params[:phone], class: "input" %><br>
      <br>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Digite sua senha", maxlength: 72, class: "input" %><br>
      <br>
      <%= form.submit "Entrar", class: "btn btn--loading" %>
      <br><br>
      <%= link_to "Esqueceu sua senha?", new_password_path %>
    <% end %>
</div>

