<h1 class="font-bold text-2xl">Gerenciar de Motoristas</h1>
<div class="flex justify-between items-center mb-4">
  <%= link_to new_driver_path, class: "btn btn-primary" do %>
    Cadastrar Novo Motorista
  <% end %>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th>N°</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Admin?</th>
      <th>Criado em</th>
      <th>Editar</th>
      <th>Permissões</th>
      <th>Alterar Senha</th>
      <th>Apagar</th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each.with_index(1) do |driver, index| %>
      <tr>
        <th><%= index %></th>
        <td><%= driver.name %></td>
        <td><%= driver.phone %></td>
        <td><%= driver.admin ? 'Sim' : 'Não' %></td>
        <td><%= driver.created_at.in_time_zone('America/Sao_Paulo').strftime('%d/%m/%Y %H:%M') %></td>
        <td>
          <%= link_to edit_driver_path(id: driver.id), class: "btn btn--secondary" do %>
            <%= image_tag "user-round-pen.svg", size: 30, aria: { hidden: true }, class: "invertible" %>
          <% end %>
        </td>
        <td>
          <%= link_to cars_driver_index_path(id: driver.id, name: driver.name), class: "btn btn--secondary" do %>
            <%= image_tag "user-round-cog.svg", size: 30, aria: { hidden: true }, class: "invertible" %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_password_driver_path(driver), class: "btn btn--secondary" do %>
            <%= image_tag "key-square.svg", size: 30, aria: { hidden: true }, class: "invertible" %>
          <% end %>
        </td>
        <td>
          <%= button_to driver_path(driver), method: :delete, data: { turbo_confirm: "Tem certeza que deseja apagar o usuário: #{driver.name}?" }, class: "btn btn--secondary" do %>
            <%= image_tag "user-round-x.svg", size: 30, aria: { hidden: true }, class: "invertible" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>