<%= form_with(model: [:admin, event]) do |form| %>
  <div class="form-group row mb-2">
    <%= form.label :car_id, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :car_id, class: "form-control" %>
      <%= tag.div event.errors[:car_id].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :car_name, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :car_name, class: "form-control" %>
      <%= tag.div event.errors[:car_name].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :driver_id, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :driver_id, class: "form-control" %>
      <%= tag.div event.errors[:driver_id].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :driver_name, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :driver_name, class: "form-control" %>
      <%= tag.div event.errors[:driver_name].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :event_type, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :event_type, class: "form-control" %>
      <%= tag.div event.errors[:event_type].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :event_name, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :event_name, class: "form-control" %>
      <%= tag.div event.errors[:event_name].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :message, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.textarea :message, class: "form-control" %>
      <%= tag.div event.errors[:message].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :created_at, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.datetime_field :created_at, class: "form-control" %>
      <%= tag.div event.errors[:created_at].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :updated_at, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.datetime_field :updated_at, class: "form-control" %>
      <%= tag.div event.errors[:updated_at].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-footer">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_events_path, class: "btn btn-white" %>
  </div>
<% end %>
