<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: "Editar Histórico" do %>
    <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
    <li class="breadcrumb-item"><%= link_to "Histórico", admin_historicos_path %></li>
    <li class="breadcrumb-item"><%= link_to @historico.descricao, [:admin, @historico] %></li>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <%= render "form", historico: @historico %>
      </div>
    </div>
  </div>
</div>
