<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: "Details" do %>
    <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
  <% end %>

  <%= render "page_header_actions" do %>
    <%= link_to "Filtros", "#offcanvas_filters", "data-bs-toggle": "offcanvas", class: "btn btn-white" %>
    <%= link_to "New detail", new_admin_detail_path, class: "btn btn-primary" %>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-vcenter table-nowrap card-table">
          <thead>
            <tr>
              <th><%= sort_link @search, :id %></th>
              <th><%= sort_link @search, :device_id %></th>
              <th><%= sort_link @search, :device_name %></th>
              <th><%= sort_link @search, :last_user %></th>
              <th><%= sort_link @search, "Modelo" %></th>
              <th><%= sort_link @search, :ignition %></th>
              <th><%= sort_link @search, :status %></th>
              <th><%= sort_link @search, "Relé" %></th>
              <th>Lig/Desl</th>
              <th><%= sort_link @search, "Últ evento" %></th>
              <th><%= sort_link @search, :updated_at %></th>
              <th><%= sort_link @search, :network %></th>
              <th><%= sort_link @search, :odometro %></th>
              <th><%= sort_link @search, :horimetro %></th>
              <th><%= sort_link @search, :battery %></th>
              <th><%= sort_link @search, :url %></th>
              <th><%= sort_link @search, :velo_max %></th>
              <th><%= sort_link @search, :bat_bck %></th>
              <th><%= sort_link @search, :cercas %></th>
              <th><%= sort_link @search, :satelites %></th>
              <th><%= sort_link @search, :version %></th>
              <th><%= sort_link @search, :imei %></th>
              <th><%= sort_link @search, :bat_nivel %></th>
              <th><%= sort_link @search, :signal_gps %></th>
              <th><%= sort_link @search, :signal_gsm %></th>
              <th><%= sort_link @search, :acc %></th>
              <th><%= sort_link @search, :acc_virtual %></th>
              <th><%= sort_link @search, :charge %></th>
              <th><%= sort_link @search, :heartbeat %></th>
              <th><%= sort_link @search, :obs %></th>
              <th>Obter Params</th>
              <th><%= sort_link @search, :params %></th>
              <th><%= sort_link @search, :apn %></th>
              <th><%= sort_link @search, :ip_and_port %></th>
              <th><%= sort_link @search, :alert_whatsApp %></th>
              <th><%= sort_link @search, :alert_telegram %></th>
              <th><%= sort_link @search, :alert_email %></th>
              <th><%= sort_link @search, :send_exit_cerca %></th>
              <th><%= sort_link @search, :send_battery %></th>
              <th><%= sort_link @search, :send_moving %></th>
              <th><%= sort_link @search, :send_velo_max %></th>
              <th><%= sort_link @search, :send_rele %></th>
              <th><%= sort_link @search, :created_at %></th>
              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @details.each do |detail| %>
              <tr>
                <td><%= link_to "#{detail.id} Editar", edit_admin_detail_path(detail), class: "btn btn-white btn-sm" %></td>
                <td><%= detail.device_id %></td>
                <td><%= detail.device_name %></td>
                <td><%= detail.last_user %></td>
                <td><%= detail.model %></td>
                <td style="background-color:<%= detail.ignition == 'on' ? '#00FA9A' : '#e6727e' %>;"><%= detail.ignition %></td>
                <td style="background-color:<%= detail.status == 'online' ? '#32CD32' : '#e6727e' %>;"><%= detail.status %></td>
                <td style="background-color:<%= detail.rele_state == 'on' ? '#9ACD32' : '#e6727e' %>;"><%= detail.rele_state %></td>
                <td style="display: flex; gap: 3px;">
                  <%= button_to "ON",  admin_details_rele_path, method: :post, params: { device_id: detail.device_id, model: detail.model, state: "ON",  imei: detail.imei }, class: "btn btn-primary btn-sm", data: { turbo_confirm: "Tem certeza que deseja LIGAR o rele? O veículo pode está em movimento." }  %>
                  <%= button_to "OFF", admin_details_rele_path, method: :post, params: { device_id: detail.device_id, model: detail.model, state: "OFF", imei: detail.imei }, class: "btn btn-primary btn-sm", data: { turbo_confirm: "Tem certeza que deseja DESLIGAR o rele?" }  %>
                </td>
                <td><%= detail.last_event_type %></td>
                <td><%= detail.updated_at.strftime("%H:%M:%S %d/%m/%Y") %></td>
                <td><%= detail.network %></td>
                <td><%= button_to "#{detail.odometro } Zerar", admin_details_send_command_path, method: :post, params: { device_id: detail.device_id, model: detail.model, command: "zerar_hodometro", imei: detail.imei }, class: "btn btn-primary btn-sm", data: { turbo_confirm: "Tem certeza que deseja ZERAR o Hodômetro?" }  %></td>
                <td><%= button_to "#{detail.horimetro} Zerar", admin_details_send_command_path, method: :post, params: { device_id: detail.device_id, model: detail.model, command: "zerar_horimetro", imei: detail.imei }, class: "btn btn-primary btn-sm", data: { turbo_confirm: "Tem certeza que deseja ZERAR o Horímetro?" }  %></td>
                <td><%= detail.battery %></td>
                <td>
                  <%= link_to detail.url, detail.url, target: "_blank", rel: "noopener noreferrer" if detail.url.present? %>
                </td>
                <td><%= detail.velo_max %></td>
                <td><%= detail.bat_bck %></td>
                <td><%= detail.cercas %></td>
                <td><%= detail.satelites %></td>
                <td><%= detail.version %></td>
                <td><%= detail.imei %></td>
                <td><%= detail.bat_nivel %></td>
                <td><%= detail.signal_gps %></td>
                <td><%= detail.signal_gsm %></td>
                <td><%= detail.acc %></td>
                <td><%= detail.acc_virtual %></td>
                <td><%= detail.charge %></td>
                <td><%= detail.heartbeat %></td>
                <td><%= detail.obs %></td>
                <td><%= button_to "Obter", admin_details_send_command_path, method: :post, params: { device_id: detail.device_id, model: detail.model, command: "parametros", imei: detail.imei }, class: "btn btn-primary btn-sm", data: { turbo_confirm: "Tem certeza que deseja OBTER os parametros?" }  %></td>
                <td><%= detail.params %></td>
                <td><%= detail.apn %></td>
                <td><%= detail.ip_and_port %></td>
                <td><%= detail.alert_whatsApp %></td>
                <td><%= detail.alert_telegram %></td>
                <td><%= detail.alert_email %></td>
                <td><%= detail.send_exit_cerca %></td>
                <td><%= detail.send_battery %></td>
                <td><%= detail.send_moving %></td>
                <td><%= detail.send_velo_max %></td>
                <td><%= detail.send_rele %></td>
                <td><%= detail.created_at %></td>
                <td>
                  <%= link_to "Ver", [:admin, detail], class: "btn btn-white btn-sm" %>
                  <%= link_to "Deletar", [:admin, detail], class: "btn btn-white btn-sm", data: { method: :delete, confirm: "Deseja realmente apagar esse carro?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center fs-5">
        <div class="d-none d-md-block">
          <div>Download: <%= link_to "CSV", url_for(format: :csv, q: request.params[:q]) %></div>
          <%== pagy_info(@pagy) %>
        </div>
        <div class="ms-auto">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="offcanvas_filters" tabindex="-1" class="offcanvas offcanvas-end">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title">Filtros</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <%= search_form_for [:admin, @search], class: "offcanvas-body" do |f| %>
    <%= f.label :device_name_cont, "Nome do Dispositivo", class: "form-label" %>
    <%= f.text_field :device_name_cont, placeholder: "Digite o nome do dispositivo", class: "form-control mb-3" %>

    <%= f.label :status_eq, "Status", class: "form-label" %>
    <%= f.select :status_eq, 
        options_for_select([
          ['Todos', ''], 
          ['Online', 'online'], 
          ['Offline', 'offline']
        ], f.object.status_eq), 
        {}, 
        { class: "form-select mb-3" } %>

    <%= f.label :rele_state_eq, "Estado do Relé", class: "form-label" %>
    <%= f.select :rele_state_eq, 
        options_for_select([
          ['Todos', ''], 
          ['Ligado', 'on'], 
          ['Desligado', 'off']
        ], f.object.rele_state_eq), 
        {}, 
        { class: "form-select mb-3" } %>

    <%= f.label :model_eq, "Modelo", class: "form-label" %>
    <%= f.select :model_eq, 
        options_for_select([
          ['Todos', ''], 
          ['XT40', 'xt40'], 
          ['ST8310U', 'st8310u']
        ], f.object.model_eq), 
        {}, 
        { class: "form-select mb-3" } %>

    <%= f.submit "Filtrar", class: "btn btn-primary" %>
    <%= link_to "Limpar Filtros", admin_details_path, class: "btn btn-white" %>
  <% end %>
</div>
