<div id="<%= dom_id notification %>" class="flex flex-col gap">
  <div class="flex gap-half items-center">
    <h4 class="font-medium leading-none text-lg">Whatsapp:</h4>
    <p class="leading-none ml-2"><%= notification.whatsapp %></p>
  </div>
  <div class="flex gap-half items-center">
    <h4 class="font-medium leading-none text-lg">Email:</h4>
    <p class="leading-none ml-2"><%= notification.email %></p>
  </div>
  <div class="flex gap-half items-center">
    <h4 class="font-medium leading-none text-lg">Telegram:</h4>
    <p class="leading-none ml-2"><%= notification.telegram %></p>
  </div>
  <div class="flex gap-half items-center">
    <h4 class="font-medium leading-none text-lg">SMS:</h4>
    <p class="leading-none ml-2"><%= notification.sms %></p>
  </div>
</div>
