<% content_for :title, "Canais de Notificações" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Canais de Notificações</h1>
  <%= link_to "Nova notificação", new_notification_path, class: "btn btn--primary" %>
</div>

<div id="notifications" class="flex flex-col" style="gap: 2rem;">
  <table class="table">
    <thead>
      <tr>
        <th>N°</th>
        <th>Whatsapp</th>
        <th>Email</th>
        <th>Telegram</th>
        <th>SMS</th>
        <th>Atualizado em</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each.with_index(1) do |notification, index| %>
        <tr>
          <th><%= index %></th>
          <td><%= notification.whatsapp %></td>
          <td><%= notification.email %></td>
          <td><%= notification.telegram %></td>
          <td><%= notification.sms %></td>
          <td><%= notification.updated_at.strftime("%H:%M:%S %d/%m/%Y") %></td>
          <td>
            <%= link_to "#", notification, class: "btn btn--secondary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
