<!DOCTYPE html>
<html>
  <head lang="pt-BR">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title><%= title %></title>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= render "stylesheet_link_tags" %>
  </head>

  <body>
  <%= turbo_stream_from "admin_detail_stream" %>
  <div id="admin_detail_stream_div"></div>
    <%= render "secondary_navbar" %>

    <div class="page">
      <div class="page-wrapper">
        <%= yield %>
      </div>
    </div>

    <%= render "flash_messages" %>
    <%= render "javascript_tags" %>
  </body>
</html>
