<% if @user&.errors&.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% elsif alert = flash[:alert] %>
  <div class="alert alert-danger">
    <%= alert %>
  </div>
<% end %>

<h1 class="font-bold text-2xl">Cadastrar novo usuário</h1> <br>

<%= form_with model: @user, url: registrations_url, class: "contents", data: { controller: "registration" } do |form| %>
  <%= form.label :name, "Nome" %> <br>
  <%= form.text_field :name, required: true, placeholder: "Digite seu nome", class: "input" %> <br> <br>

  <%= form.label :phone, "Telefone" %> <br>
  <%= form.text_field :phone, required: true, placeholder: "Digite seu telefone", class: "input", id: "user_phone" %> <br> <br>

  <%= form.label :password, "Senha" %> <br>
  <%= form.password_field :password, required: true, placeholder: "Digite uma senha", maxlength: 72, class: "input" %> <br> <br>

  <%= form.label :password_confirmation, "Confirme sua senha" %> <br>
  <%= form.password_field :password_confirmation, required: true, placeholder: "Confirme sua senha", maxlength: 72, class: "input" %> <br> <br>

  <%= form.submit "Inserir", class: "btn" %>
<% end %>