<div class="car_item">
  <%= turbo_frame_tag "button_#{device_id}" do %>
    <% if status == 'online' %>
      <% if state == 'desbloquear' %>
        <div contents data-controller="dialog checklist-maintenance">
          <button type="button" id="button_block_device_<%= device_id %>" class="btn btn--positive" data-action="dialog#showModal" disabled>Desbloquear</button>

          <dialog class="dialog" data-dialog-target="menu" role="alertdialog" aria-labelledby="dialog_label" aria-describedby="dialog_desc" style="max-width: 600px; max-height: 80vh; overflow-y: auto;">
            <div class="dialog__content">
              <h2 class="text-lg font-semibold leading-none mbe-2" id="dialog_label">Tem certeza que deseja DESBLOQUEAR o veículo?</h2>
              <p class="text-lg text-subtle mbe-4 checklist-description" id="dialog_desc">
                Esta ação irá desbloquear o veículo, permitindo que ele seja utilizado e irá registrar que você é o usuário.
              </p>

              <%= form_with url: home_block_and_desblock_path, method: :post, local: false, 
                          data: { turbo_stream: true, action: "submit->checklist-maintenance#beforeSubmit" }, 
                          html: { id: "checklist_form_desbloquear_#{device_id}" } do |f| %>
                <%= hidden_field_tag :id, device_id %>
                <%= hidden_field_tag :action_type, 'desbloquear' %>
                <%= hidden_field_tag :model, info.model %>
                <%= hidden_field_tag :imei, info.imei %>

                <div class="checklist-container">
                  <%= render 'home/checklist_form', device_id: device_id, action_type: 'desbloquear' %>
                </div>

                <div class="flex items-center justify-end gap">
                  <button type="button" class="btn" data-action="click->dialog#close">Cancelar</button>
                  <%= f.submit "Confirmar Desbloqueio", class: "btn btn--positive" %>
                </div>

              <% end %>
            </div>
          </dialog>
        </div>
      <% elsif state == 'bloquear' %>
        <div contents data-controller="dialog checklist-maintenance">
          <button type="button" id="button_block_device_<%= device_id %>" class="btn btn--negative" data-action="dialog#showModal" disabled>Bloquear</button>

          <dialog class="dialog" data-dialog-target="menu" role="alertdialog" aria-labelledby="dialog_label" aria-describedby="dialog_desc" style="max-width: 600px; max-height: 80vh; overflow-y: auto;">
            <div class="dialog__content">
              <h2 class="text-lg font-semibold leading-none mbe-2" id="dialog_label">Tem certeza que deseja BLOQUEAR o veículo?</h2>
              <p class="text-lg text-subtle mbe-4" id="dialog_desc">
                CUIDADO! O VEÍCULO PODE ESTAR EM MOVIMENTO!
              </p>

              <%= form_with url: home_block_and_desblock_path, method: :post, local: false, 
                          data: { turbo_stream: true, action: "submit->checklist-maintenance#beforeSubmit" }, 
                          html: { id: "checklist_form_bloquear_#{device_id}" } do |f| %>
                <%= hidden_field_tag :id, device_id %>
                <%= hidden_field_tag :action_type, 'bloquear' %>
                <%= hidden_field_tag :model, info.model %>
                <%= hidden_field_tag :imei, info.imei %>

                <div class="checklist-container">
                  <%= render 'home/checklist_form', device_id: device_id, action_type: 'bloquear' %>
                </div>

                <div class="flex items-center justify-end gap">
                  <button type="button" class="btn" data-action="click->dialog#close">Cancelar</button>
                  <%= f.submit "Confirmar Bloqueio", class: "btn btn--negative" %>
                </div>
              <% end %>
            </div>
          </dialog>
        </div>
      <% else %>
        <%= button_tag "Em uso por outro motorista", class: "btn", disabled: true %>
      <% end %>
    <% end %>
  <% end %>
</div>