<h1 class="text-2xl" style="font-family: var(--font-old-style); color: var(--blue-500)"><%= car.device_name %></h1>
<div class="p-5 rounded-lg i-full" style="background: linear-gradient(to right, var(--indigo-300), transparent)">
  <div class="car_container">
    <div class="car_item">
      <%= render 'home/status_badge', detail: car %>
    </div>
    <div class="car_item">
      V. Máx: <%= car.velo_max %>
    </div>
    <div class="car_item">
      <%= turbo_frame_tag "details_button_#{car.device_id}" do %>
        <%= render 'details/button_details', show_details: false, device_id: car.device_id, status: car.status %>
      <% end %>
    </div>
  </div>
  <%= turbo_frame_tag "location_#{car.device_id}" do %><% end %>
  <%= turbo_frame_tag "details_#{car.device_id}" do %><% end %>
  <%= turbo_frame_tag "events_#{car.device_id}" do %><% end %>
</div>
<br>