<%= turbo_frame_tag "details_#{device_id}" do %>
  <br>
  <div class="car_container">
    <div class="car_item"><%= msg %></div>
    <div class="car_item">
      <%= turbo_frame_tag "button_#{device_id}" do %>
        <% if status == 'online' %>
          <% if state == 'desbloquear' %>
            <%= button_to "Desbloquear", home_block_and_desblock_path(id: device_id, action_type: 'desbloquear', model: info.model, imei: info.imei), method: :post, class: "btn btn--positive", id: "button_block_device_#{device_id}", data: { turbo_stream: true }, disabled: true %>
          <% elsif state == 'bloquear' %>
            <%= button_to "Bloquear", home_block_and_desblock_path(id: device_id, action_type: 'bloquear', model: info.model, imei: info.imei), method: :post, class: "btn btn--negative", id: "button_block_device_#{device_id}", data: { turbo_stream: true }, disabled: true %>
          <% else %>
            <%= button_tag "Em uso por outro motorista", class: "btn", disabled: true %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="car_container">
    <div class="car_item">
      <%= link_to home_location_path(car_id: device_id, url: info.url), class: "btn", data: { turbo_stream: true, turbo_prefetch: false } do %>
        Localização atual
      <% end %>
    </div>
    <div class="car_item">
      <% if events_count != 0 %>
        <%= button_to home_last_events_path(device_id: device_id, open: 'true'), method: :post, class: "btn btn--borderless", data: { turbo_stream: true } do %>
          <%= image_tag "select-arrow.svg", size: 25, aria: { hidden: true } %>
          <span>Últimos Eventos: <%= events_count %></span>
        <% end %>
      <% else %>
        <%= button_tag "Sem eventos", class: "btn btn--borderless", disabled: true %>
      <% end %>
    </div>
  </div>
  <% if @user_admin %>
    <br>
    <div class="car_container">
      <%= button_to "Zerar Odômetro",  home_odometro_path, method: :post, params: { device_id: info.device_id, model: info.model, command: "zerar_hodometro", imei: info.imei }, class: "btn btn-primary btn-sm", data: { turbo_stream: true, turbo_confirm: "Tem certeza que deseja ZERAR o Hodômetro?" }  %>
      <%= button_to "Zerar Horímetro", home_odometro_path, method: :post, params: { device_id: info.device_id, model: info.model, command: "zerar_horimetro", imei: info.imei }, class: "btn btn-primary btn-sm", data: { turbo_stream: true, turbo_confirm: "Tem certeza que deseja ZERAR o Horímetro?" }  %>
    </div>
    <br>
  <% end %>
  <div id="detail_<%= device_id %>" > <!-- Será substituida quando o evento de Status for enviado pelo rastreador -->
    <%= render 'details/information', info: info %>
  </div>
<% end %>
