<div id="details_status_content_<%= device_id %>">
  <div class="layout-v1">
    <br>
    <div class="car_container">
      <div class="car_item"><%= msg %></div>
      <%= render 'home/btn_bloquear_desbloquear', device_id: device_id, status: status, state: state, info: info %>
    </div>
  </div>
  <div class="layout-v2">
    <div class="details-status-content">
      <span class="details-panel__msg"><%= msg %></span>
      <%= render 'home/btn_bloquear_desbloquear', device_id: device_id, status: status, state: state, info: info %>
    </div>
  </div>
</div>
