<%= turbo_frame_tag "details_#{device_id}" do %>
  <br>
  <div class="car_container">
    <div class="car_item"><%= msg %></div>
    <div class="car_item">
      <%= turbo_frame_tag "button_#{device_id}" do %>
        <% if status == 'online' %>
          <% if state == 'desbloquear' %>
            <div contents data-controller="dialog">
              <button type="button" id="button_block_device_<%= device_id %>" class="btn btn--positive" data-action="dialog#showModal" disabled>Desbloquear</button>

              <dialog class="dialog" data-dialog-target="menu" role="alertdialog" aria-labelledby="dialog_label" aria-describedby="dialog_desc" style="max-width: 600px; max-height: 80vh; overflow-y: auto;">
                <div class="dialog__content">
                  <h2 class="text-lg font-semibold leading-none mbe-2" id="dialog_label">Tem certeza que deseja DESBLOQUEAR o veículo?</h2>
                    <% if defined?(user_maintenance) && user_maintenance %>
                    <% else %>
                      <p class="text-lg text-subtle mbe-4" id="dialog_desc">
                        Esta ação irá desbloquear o veículo, permitindo que ele seja utilizado e irá registrar que você é o usuário.
                      </p>
                    <% end %>

                  <%= form_with url: home_block_and_desblock_path, method: :post, local: false, 
                              data: { turbo_stream: true }, 
                              html: { id: "checklist_form_desbloquear_#{device_id}" } do |f| %>
                    <%= hidden_field_tag :id, device_id %>
                    <%= hidden_field_tag :action_type, 'desbloquear' %>
                    <%= hidden_field_tag :model, info.model %>
                    <%= hidden_field_tag :imei, info.imei %>

                    <% unless defined?(user_maintenance) && user_maintenance %>
                      <%= render 'home/checklist_form', device_id: device_id, action_type: 'desbloquear' %>
                    <% end %>

                    <div class="flex items-center justify-end gap">
                      <button type="button" class="btn" data-action="click->dialog#close">Cancelar</button>
                      <%= f.submit "Confirmar Desbloqueio", class: "btn btn--positive" %>
                    </div>
                  <% end %>
                </div>
              </dialog>
            </div>
          <% elsif state == 'bloquear' %>
            <div contents data-controller="dialog">
              <button type="button" id="button_block_device_<%= device_id %>" class="btn btn--negative" data-action="dialog#showModal" disabled>Bloquear</button>

              <dialog class="dialog" data-dialog-target="menu" role="alertdialog" aria-labelledby="dialog_label" aria-describedby="dialog_desc" style="max-width: 600px; max-height: 80vh; overflow-y: auto;">
                <div class="dialog__content">
                  <h2 class="text-lg font-semibold leading-none mbe-2" id="dialog_label">Tem certeza que deseja BLOQUEAR o veículo?</h2>
                  <p class="text-lg text-subtle mbe-4" id="dialog_desc">
                    CUIDADO! O VEÍCULO PODE ESTAR EM MOVIMENTO!
                  </p>

                  <%= form_with url: home_block_and_desblock_path, method: :post, local: false, 
                              data: { turbo_stream: true }, 
                              html: { id: "checklist_form_bloquear_#{device_id}" } do |f| %>
                    <%= hidden_field_tag :id, device_id %>
                    <%= hidden_field_tag :action_type, 'bloquear' %>
                    <%= hidden_field_tag :model, info.model %>
                    <%= hidden_field_tag :imei, info.imei %>

                    <% unless defined?(user_maintenance) && user_maintenance %>
                      <%= render 'home/checklist_form', device_id: device_id, action_type: 'bloquear' %>
                    <% end %>

                    <div class="flex items-center justify-end gap">
                      <button type="button" class="btn" data-action="click->dialog#close">Cancelar</button>
                      <%= f.submit "Confirmar Bloqueio", class: "btn btn--negative" %>
                    </div>
                  <% end %>
                </div>
              </dialog>
            </div>
          <% else %>
            <%= button_tag "Em uso por outro motorista", class: "btn", disabled: true %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="car_container">
    <div class="car_item">
      <%= button_to home_battery_history_path(car_id: device_id), method: :post, class: "btn", data: { turbo_stream: true } do %>
        Bateria
      <% end %>
    </div>
    <div class="car_item">
      <%= link_to home_location_path(car_id: device_id, url: info.url), class: "btn", data: { turbo_stream: true, turbo_prefetch: false } do %>
        Localização
      <% end %>
    </div>
    <div class="car_item">
      <% if events_count != 0 %>
        <%= button_to home_last_events_path(device_id: device_id, open: 'true'), method: :post, class: "btn btn--borderless", data: { turbo_stream: true } do %>
          <%= image_tag "select-arrow.svg", size: 25, aria: { hidden: true } %>
          <span>Eventos: <%= events_count %></span>
        <% end %>
      <% else %>
        <%= button_tag "Sem eventos", class: "btn btn--borderless", disabled: true %>
      <% end %>
    </div>
  </div>
  <% if @user_admin %>
    <br>
    <div class="car_container">
      <div contents data-controller="dialog">
        <button type="button" class="btn" data-action="dialog#showModal">Zerar Odômetro</button>

        <dialog class="dialog" data-dialog-target="menu" role="alertdialog" aria-labelledby="dialog_label" aria-describedby="dialog_desc">
          <div class="dialog__content">
            <h2 class="text-lg font-semibold leading-none mbe-2" id="dialog_label">Tem certeza que deseja ZERAR o Odômetro?</h2>
            <p class="text-lg text-subtle mbe-4" id="dialog_desc">
              Esta ação não pode ser desfeita. Isso irá apagar permanentemente a contagem do Odômetro do seu veículo.
            </p>

            <div class="flex items-center justify-end gap">
              <button type="button" class="btn" data-action="click->dialog#close">Cancelar</button>
              <%= button_to "Confirmar",  home_odometro_path, method: :post, params: { device_id: info.device_id, model: info.model, command: "zerar_hodometro", imei: info.imei }, class: "btn btn-primary btn-sm", data: { turbo_stream: true, action: "click->dialog#close" }  %>
            </div>
          </div>
        </dialog>
      </div>

      <div contents data-controller="dialog">
        <button type="button" class="btn" data-action="dialog#showModal">Zerar Horímetro</button>

        <dialog class="dialog" data-dialog-target="menu" role="alertdialog" aria-labelledby="dialog_label" aria-describedby="dialog_desc">
          <div class="dialog__content">
            <h2 class="text-lg font-semibold leading-none mbe-2" id="dialog_label">Tem certeza que deseja ZERAR o Horímetro?</h2>
            <p class="text-lg text-subtle mbe-4" id="dialog_desc">
              Esta ação não pode ser desfeita. Isso irá apagar permanentemente a contagem do Horímetro do seu veículo.
            </p>

            <div class="flex items-center justify-end gap">
              <button type="button" class="btn" data-action="click->dialog#close">Cancelar</button>
              <%= button_to "Confirmar",  home_odometro_path, method: :post, params: { device_id: info.device_id, model: info.model, command: "zerar_horimetro", imei: info.imei }, class: "btn btn-primary btn-sm", data: { turbo_stream: true, action: "click->dialog#close" }  %>
            </div>
          </div>
        </dialog>
      </div>
    </div>
    <br>
  <% end %>
  <div id="detail_<%= device_id %>" > <!-- Será substituida quando o evento de Status for enviado pelo rastreador -->
    <%= render 'details/information', info: info %>
  </div>

<% end %>
