<div id="details_status_content_<%= device_id %>">
  <div class="layout-v1">
    <br>
    <div class="car_container">
      <div class="car_item"><%= msg %></div>
      <% if status == 'offline' && info.category == 'motorcycle' %>
        Ligue a ignição para acordar o rastreador.
      <% else %>
        <%= render 'home/btn_bloquear_desbloquear', device_id: device_id, status: status, state: state, info: info %>
      <% end %>
    </div>
  </div>
  <div class="layout-v2">
    <div class="details-status-content">
      <span class="details-panel__msg"><%= msg %></span>
      <% if status == 'offline' && info.category == 'motorcycle' %>
        <span class="status-timestamp" style="font-size: 0.8rem;">Ligue a ignição para acordar o rastreador.</span>
      <% else %>
        <%= render 'home/btn_bloquear_desbloquear', device_id: device_id, status: status, state: state, info: info %>
      <% end %>
    </div>
  </div>
</div>
