<div id="status_badge_<%= detail.device_id %>">
  <% if detail.status == 'online' %>
    <div class="badge badge--positive">
      <%= image_tag "satellite-dish.svg", size: 17, aria: { hidden: true } %>  Online
    </div>
  <% else %>
    <div class="badge badge--negative">
      <%= image_tag "navigation-off.svg", size: 17, aria: { hidden: true } %>  Offline 
    </div>
    <div class="badge badge--negative">
      <span class="tooltip-wrapper" data-tooltip="Última atualização">
        <%= image_tag "timer.svg", size: 17, aria: { label: "Última atualização" } %>
        <%= detail.updated_at.getlocal("-03:00").strftime("%H:%M - %d/%m/%Y") %> 
      </span>
    </div>
  <% end %>
</div>
