<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: "Editando comando" do %>
  <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
  <li class="breadcrumb-item"><%= link_to "Comandos", admin_commands_path %></li>
  <li class="breadcrumb-item"><%= link_to "Mostrando este comando", [:admin, @command] %></li>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <%= render "form", command: @command %>
      </div>
    </div>
  </div>
</div>
