<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: "Mostrando comando" do %>
    <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
    <li class="breadcrumb-item"><%= link_to "Commandos", admin_commands_path %></li>
  <% end %>

  <%= render "page_header_actions" do %>
    <%= link_to "Editar comando", edit_admin_command_path(@command), class: "btn btn-primary" %>
    <%= form_with url: admin_command_path(@command), method: :delete, local: true, style: "display: inline-block;" do |f| %>
      <%= f.submit "Deletar Comando", class: "btn btn-white", onclick: "return confirm('Você tem certeza?')" %>
    <% end %>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Detalhes do comando</h3>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-md-3">Id</dt>
          <dd class="col-md-9"><%= @command.id %></dd>
          <dt class="col-md-3">Type</dt>
          <dd class="col-md-9"><%= @command.type_device %></dd>
          <dt class="col-md-3">Name</dt>
          <dd class="col-md-9"><%= @command.name %></dd>
          <dt class="col-md-3">Command</dt>
          <dd class="col-md-9"><%= @command.command %></dd>
          <dt class="col-md-3">Commando SMS</dt>
          <dd class="col-md-9"><%= @command.command_sms %></dd>
          <dt class="col-md-3">Description</dt>
          <dd class="col-md-9"><%= @command.description %></dd>
          <dt class="col-md-3">Created at</dt>
          <dd class="col-md-9"><%= @command.created_at %></dd>
          <dt class="col-md-3">Updated at</dt>
          <dd class="col-md-9"><%= @command.updated_at %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
