<%= form_with(model: [:admin, user]) do |form| %>
  <div class="form-group row mb-2">
    <%= form.label :email_address, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :email_address, class: "form-control", placeholder: "Email (opcional)" %>
      <%= tag.div user.errors[:email_address].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :name, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :name, class: "form-control" %>
      <%= tag.div user.errors[:name].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :cpf, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :cpf, class: "form-control" %>
      <%= tag.div user.errors[:cpf].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :phone, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :phone, class: "form-control" %>
      <%= tag.div user.errors[:phone].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :password_digest, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.text_field :password_digest, class: "form-control" %>
      <%= tag.div user.errors[:password_digest].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :active, class: "form-check-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.checkbox :active, class: "form-check-input" %>
      <%= tag.div user.errors[:active].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :admin, class: "form-check-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.checkbox :admin, class: "form-check-input" %>
      <%= tag.div user.errors[:admin].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :maintenance, class: "form-check-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.checkbox :maintenance, class: "form-check-input" %>
      <%= tag.div user.errors[:maintenance].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :pessoal, class: "form-check-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.checkbox :pessoal, class: "form-check-input" %>
      <%= tag.div user.errors[:pessoal].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :view_only, "Somente Visualização", class: "form-check-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.checkbox :view_only, class: "form-check-input" %>
      <%= tag.div user.errors[:view_only].first, class: "invalid-feedback" if user.errors[:view_only].any? %>
    </div>
  </div>

  <div class="form-group row mb-2">
    <%= form.label :cars, class: "form-label col-md-3 col-form-label" %>
    <div class="col-md px-0">
      <%= form.textarea :cars, class: "form-control" %>
      <%= tag.div user.errors[:cars].first, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="form-footer">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancelar", admin_users_path, class: "btn btn-white" %>
  </div>
<% end %>
