<%= render "page_header" do %>
  <%= render "page_header_breadcrumb", title: "Usuários" do %>
    <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
  <% end %>

  <%= render "page_header_actions" do %>
    <%= link_to "Filtros", "#offcanvas_filters", "data-bs-toggle": "offcanvas", class: "btn btn-white" %>
    <%= link_to "Novo usuário", new_admin_user_path, class: "btn btn-primary" %>
  <% end %>
<% end %>

<div class="page-body">
  <div class="container-fluid">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-vcenter table-nowrap card-table">
          <thead>
            <tr>
              <th><%= sort_link @search, :id %></th>
              <th><%= sort_link @search, :email_address %></th>
              <th><%= sort_link @search, :name %></th>
              <th><%= sort_link @search, :cpf %></th>
              <th><%= sort_link @search, :phone %></th>
              <th><%= 'Ativo(*)' %></th>
              <th><%= sort_link @search, :admin %></th>
              <th><%= sort_link @search, :maintenance %></th>
              <th><%= sort_link @search, :pessoal %></th>
              <th><%= sort_link @search, :view_only %></th>
              <th><%= sort_link @search, :cars %></th>
              <th><%= sort_link @search, :updated_at %></th>
              <th><%= 'Redef Senha' %></th>
              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr style="<%= 'background-color: #fa8888ff;' if user.pessoal && !user.active %>">
                <td><%= user.id %></td>
                <td><%= user.email_address %></td>
                <td><%= user.name %></td>
                <td><%= user.cpf %></td>
                <td><%= user.phone %></td>
                <td style="<%= color_cel(user.active) %>"><%= user.active ? "Sim" : "Não" %></td>
                <td style="<%= color_cel(user.admin) %>"><%= user.admin ? "Sim" : "Não" %></td>
                <td style="<%= color_cel(user.maintenance) %>"><%= user.maintenance ? "Sim" : "Não" %></td>
                <td style="<%= color_cel(user.pessoal) %>"><%= user.pessoal ? "Sim" : "Não" %></td>
                <td style="<%= color_cel(user.view_only) %>"><%= user.view_only ? "Sim" : "Não" %></td>
                <td><%= user.cars %></td>
                <td><%= user.updated_at.strftime("%H:%M:%S %d/%m/%Y") %></td>
                <td><%= user.password_reset_sent_at&.strftime("%H:%M:%S %d/%m/%Y") %></td>
                <td>
                  <%= link_to "View", [:admin, user], class: "btn btn-white btn-sm" %>
                  <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-white btn-sm" %>
                  <%= link_to "Delete", [:admin, user], class: "btn btn-white btn-sm", data: { method: :delete, confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center fs-5">
        <div class="d-none d-md-block">
          <div>Download: <%= link_to "CSV", url_for(format: :csv, q: request.params[:q]) %></div>
          <%== pagy_info(@pagy) %>
        </div>
        <div class="ms-auto">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
      <small class="mbe-4 mls-4">(*) Quando 'false' o usuário com PESSOAL == TRUE não verá os veículos e a barra de menu.</small>
    </div>
  </div>
</div>

<div id="offcanvas_filters" tabindex="-1" class="offcanvas offcanvas-end">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title">Filters</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <%= search_form_for [:admin, @search], class: "offcanvas-body" do |f| %>
    <%# f.label :name_cont, class: "form-label" %>
    <%# f.text_field :name_cont, class: "form-control mb-3" %>

    <%= f.submit "Filter", class: "btn btn-primary" %>
    <%= link_to "Clear Filter", admin_users_path, class: "btn btn-white" %>
  <% end %>
</div>
