<div id="admin_detail_stream_div" 
  data-controller="notification"
  data-notification-vehicle-value="<%= detail.device_name %>"
  data-notification-event-value="<%= detail.last_event_type %>"
  data-notification-battery-value="<%= detail.battery %>"
  data-notification-relay-value="<%= detail.rele_state %>"
  data-notification-ignition-value="<%= detail.ignition %>"
  data-notification-odometro-value="<%= detail.odometro %>"
  data-notification-status-value="<%= detail.status %>"
  data-notification-batbck-value="<%= detail.bat_bck %>"
  data-notification-deviceid-value="<%= detail.device_id %>"
  data-notification-signalgsm-value="<%= detail.signal_gsm %>"
  data-notification-signalgps-value="<%= detail.signal_gps %>"
>

</div>