<% if info.model == 'xt40' %>
  <div class="car_container">
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "satellite-dish.svg", size: 20, aria: { hidden: true } %><span>GPS: <%= info.signal_gps %></span>
    <% end %>
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "shield-off.svg", size: 20, aria: { hidden: true } %><span>GSM: <%= info.signal_gsm %></span>
    <% end %>
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "battery-medium.svg", size: 20, aria: { hidden: true } %><span>Bkp: <%= info.bat_bck %>v</span>
    <% end %>
  </div>
  <hr>
  <div class="car_container">
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "arrow-up-from-dot.svg", size: 20, aria: { hidden: true } %><span>Odm: <%= info.odometro %>m</span>
    <% end %>
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "key-square.svg", size: 20, aria: { hidden: true } %><span>Igni: <%= info.ignition %></span>
    <% end %>
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "battery-charging.svg", size: 20, aria: { hidden: true } %><span>Bat: <%= info.battery %>v</span>
    <% end %>
  </div>
<% else %>
  <div class="car_container">
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "battery-medium.svg", size: 20, aria: { hidden: true } %><span>Bkp: <%= info.bat_bck %>v</span>
    <% end %>
  </div>
  <hr>
  <div class="car_container">
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "arrow-up-from-dot.svg", size: 20, aria: { hidden: true } %><span>Odm: <%= info.odometro %>m</span>
    <% end %>
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "key-square.svg", size: 20, aria: { hidden: true } %><span>Igni: <%= info.ignition %></span>
    <% end %>
    <%= button_tag class: "btn btn--plain" do %>
      <%= image_tag "battery-charging.svg", size: 20, aria: { hidden: true } %><span>Bat: <%= info.battery %>v</span>
    <% end %>
  </div>
<% end %>