<div class="flex items-center gap">
  <%= link_to root_path, class: "flex items-center gap mie-2" do %>
    <%= image_tag "satellite.svg", size: 40, aria: { hidden: true }, class: "invertible" %>
  <% end %>

  <nav class="flex items-center gap text-sm text-subtle show@md" style="--column-gap: 1rem">
    <% if Current.user %>
      <%= link_to 'Veículos', root_path %>
      <% if Current.user.admin %>
        <%= link_to 'Motoristas', driver_index_path %>
        <%= link_to 'Config Alertas', details_path %>
        <%= link_to 'Notificações', notifications_path %>
        <%= link_to 'Relatório Checklists', check_lists_path %>
      <% elsif Current.user.pessoal %>
        <%= link_to 'Config Alertas', details_path %>
        <%= link_to 'Notificações', notifications_path %>
      <% end %>
    <% end %>
  </nav>
</div>

<div class="flex items-center gap">
  <% if Current.user %>
    <button data-push-target="notificationButton" 
            data-action="click->push#initializePushNotifications"
            class="flex items-center gap text-primary text-sm"
            style="display: block;"
            title="Ativar notificações">
      <%= image_tag "message-circle-warning.svg", size: 30, aria: { hidden: true }, class: "invertible" %>
    </button>

    <%= Current.user.name.truncate(12) %>
    <%= link_to session_path(Current.session), data: { turbo_method: :delete }, class: "text-primary" do %>
      <%= image_tag "square-arrow-out-up-right.svg", size: 24, aria: { hidden: true }, class: "invertible" %>
      Sair
    <% end %>
  <% end %>
</div>