<div class="sidebar-menu">
  <% if Current.user %>
    <%= link_to 'Veículos', root_path, class: "btn sidebar-menu__button" %>
    <% if Current.user.admin %>
      <%= link_to 'Motoristas', driver_index_path, class: "btn sidebar-menu__button" %>
      <%= link_to 'Config Alertas', details_path, class: "btn sidebar-menu__button" %>
      <%= link_to 'Notificações', notifications_path, class: "btn sidebar-menu__button" %>
      <%= link_to 'Relatório Checklists', check_lists_path, class: "btn sidebar-menu__button" %>
    <% elsif Current.user.pessoal %>
      <%= link_to 'Config Alertas', details_path, class: "btn sidebar-menu__button" %>
      <%= link_to 'Notificações', notifications_path, class: "btn sidebar-menu__button" %>
    <% end %>
  <% end %>
  <%= link_to "#", class: "btn sidebar-menu__button mbs-auto" do %>
    <% if Current.user %>
      <%= link_to session_path(Current.session), data: { turbo_method: :delete }, class: "text-primary" do %>
        <%= image_tag "square-arrow-out-up-right.svg", size: 24, aria: { hidden: true }, class: "invertible" %>
        <%= Current.user.name.truncate(12) %> - Sair
      <% end %>
    <% end %>
  <% end %>
</div>