<div class="sidebar-menu">
  <% if Current.user %>
    <%= link_to 'Veículos', root_path, class: "btn sidebar-menu__button" %>
    <% if Current.user.admin %>
      <%= link_to 'Motoristas', driver_index_path, class: "btn sidebar-menu__button" %>
      <%= link_to 'Config Alertas', details_path, class: "btn sidebar-menu__button" %>
      <%= link_to 'Notificações', notifications_path, class: "btn sidebar-menu__button" %>
      <%= link_to 'Relatório Checklists', check_lists_path, class: "btn sidebar-menu__button" %>
    <% elsif Current.user.pessoal %>
      <%= link_to 'Config Alertas', details_path, class: "btn sidebar-menu__button" %>
      <%= link_to 'Notificações', notifications_path, class: "btn sidebar-menu__button" %>
    <% end %>
<!--
    <%= form_with url: home_toggle_layout_path, method: :post, data: { turbo: false }, class: "sidebar-menu__button", style: "padding: 0.5rem 0.75rem;" do %>
      <label style="display: flex; align-items: center; cursor: pointer; font-size: 0.85rem; gap: 0.5rem;">
        <input type="checkbox"
               class="switch switch--green"
               onchange="this.form.requestSubmit()"
               <%= 'checked' if Current.user&.layout_version == 'v2' %>
        >
        <span>Mudar layout</span>
      </label>
    <% end %>
-->
  <% end %>
  <% if Current.user %>
    <%= link_to edit_password_driver_path(Current.user), class: "btn sidebar-menu__button mbs-auto" do %>
      <%= image_tag "key-square.svg", size: 24, aria: { hidden: true }, class: "invertible" %>
      Alterar senha
    <% end %>
    <%= link_to session_path(Current.session), data: { turbo_method: :delete }, class: "btn sidebar-menu__button" do %>
      <%= image_tag "square-arrow-out-up-right.svg", size: 24, aria: { hidden: true }, class: "invertible" %>
      <%= Current.user.name.truncate(18) %> - Sair
    <% end %>
  <% end %>
</div>