<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= ENV['APPLICATION_NAME'] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1f2937" media="(prefers-color-scheme: dark)">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/<%= icon(ENV['SERVIDOR']) %>.png" type="image/png">
    <link rel="icon" href="/<%= icon(ENV['SERVIDOR']) %>.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/<%= icon(ENV['SERVIDOR']) %>.png">

    <meta name="apple-mobile-web-app-title" content="<%= ENV['APPLICATION_NAME'] || 'Rastreador' %>">
    <link rel="apple-touch-startup-image" href="/<%= icon(ENV['SERVIDOR']) %>.png">

    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <%= javascript_importmap_tags %>
    <%= debugbar_head  if defined? Debugbar %>
  </head>

  <body data-controller="push" 
        data-application-server-key="<%= ENV['DEFAULT_APPLICATION_SERVER_KEY'] %>"
        data-push-user-id-value="<%= Current.user&.id %>"
        data-user-maintenance="<%= Current.user&.maintenance? %>">

    <div data-controller="flash" 
         data-flash-alert-value="<%= flash[:alert] %>" 
         data-flash-notice-value="<%= flash[:notice] %>">
    </div>

    <div class="header-layout">
      <header id="header">
        <div class="flex justify-between container">
          <%= render "layouts/mobile_menu" %>
          <%= render "layouts/header_menu" %>
        </div>
      </header>

      <main id="main">
        <% if content_for?(:full_width) %>
          <div style="width: 100%; max-width: 95%; margin: 0 auto;">
            <div id="flash">
              <%= render '/alert', flash: flash %>
            </div>
            <%= yield %>
          </div>
        <% else %>
          <div class="container">
            <div id="flash">
              <%= render '/alert', flash: flash %>
            </div>
            <%= yield %>
          </div>
        <% end %>
      </main>
    </div>
    <div id="battery_history_modal"></div>
    <%= debugbar_body if defined? Debugbar %>

    <script>
      // Registra o service worker
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('<%= pwa_service_worker_path %>')
            .then(function(registration) {
            }, function(err) {
              console.log('Falha ao registrar o ServiceWorker: ', err);
            });
        });
      }

    </script>
  </body>
</html>
